body {
  text-align: center;
}

.content {
  width: 50%;
  margin: 10px auto;
  text-align: left;
}

.header {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  border-bottom: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.url-icon {
  margin-right: 5px;
}

.project {
  margin: 20px auto;
  border-bottom: 1px solid black;
}

.project-item {
  margin: 7px auto;
}

.project-icon {
  width: 15px;
  height:15px;
  margin-right: 5px;
  float: left;
}

.project-text {
  overflow: hidden;
}

.project-url {
  color: blue;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .content {
    width: 97%;
  }

  .header {
    width: 97%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    width: 97%;
  }

  .header {
    width: 97%;
  }

}
